html {
    margin-left: 300px;
    margin-right: 300px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        width: 75%;
        text-align: center;
    }
}

.navbar-right {
    display: flex; 
    justify-content: flex-end;
}

.navbar-left {
    display: flex;
    justify-content: space-around;

    .search-bar {
        margin-right: auto;
    }
    
    .pagination {

        a {
            font-size: 20px;
            color: #c7a008;
            text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
            align-self: center;
        }
    }
}

img {
    width: 50%;
    height: 50%;
}
.pokemons-list {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-info {
    flex-basis: 33.333333%;
    text-align: center;
}
