html {
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Lexend', sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        width: 75%;
        text-align: center;
    }
}

.navbar-right {
    display: flex; 
    justify-content: flex-end;
}

.navbar-left {
    display: flex;

    .search-bar {
        flex: 1;
    }

    .third {
        flex: 1;
    }
    .pagination {
        a {
            font-weight: bold;
            font-size: 20px;
            color: #ffcb05;
            text-shadow: 2px 0 0 #2a75bb, 0 -1px 0 #2a75bb, 0 1px 0 #2a75bb, -1px 0 0 #2a75bb;
        }
    }
}

.navbar-right {
    display: flex;
    flex-direction: column;

    p {
        margin: 5px;
        margin-left: auto;
    }

    a {
        font-weight: bold;
        font-size: 20px;
        color: #ffcb05;
        text-shadow: 2px 0 0 #2a75bb, 0 -1px 0 #2a75bb, 0 1px 0 #2a75bb, -1px 0 0 #2a75bb;
    }
}

img {
    width: 50%;
    height: 50%;
}
.pokemons-list {
    display: flex;
    flex-wrap: wrap;

    .pokemon-info {
        flex-basis: 33.333333%;
        text-align: center;

        .pokemon-name {

            a {
                font-size: 30px;
                color: #ffcb05;
                text-shadow: 2px 0 0 #2a75bb, 0 -1px 0 #2a75bb, 0 1px 0 #2a75bb, -1px 0 0 #2a75bb;
            }
        }
    }
}

.pokemon-detail {
    .pokemon-img {
        width: 30%;
        height: 50%;
    }
    .types {
        display: flex;
        width: 10%;
        height: 10%;
    }

    h2 {
        font-size: 30px;
        color: #ffcb05;
        text-shadow: 2px 0 0 #2a75bb, 0 -1px 0 #2a75bb, 0 1px 0 #2a75bb, -1px 0 0 #2a75bb;
    }
}