{% load sass_tags %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>{% block title %}Pokedex app{% endblock title %}</title>
    <link href="{% sass_src 'css/base.scss' %}" rel="stylesheet" type="text/css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap" rel="stylesheet">
  </head>


  <body>


    <header>
      <div class="logo"><a href="{% url 'home' %}"><img src="/static/img/official-artwork/front.png" width=150%></a></div>
    </header>

    <div class="navbar-right">
      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
      {% else %}
        <p>You are not logged in</p>
        <p><a href="{% url 'login' %}">Log In</a></p>
        <p><a href="{% url 'signup' %}">Sign Up</a></p>
      {% endif %}
    </div>

    <main class="site-content">
      {% block content %}
      {% endblock content %}
    </main>


  </body>

</html>