{% extends 'base.html' %}
{% load static %}


{% block content %}

<h1>Hello on Pokedex app!</h1>
    <!-- Search form -->
    <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search..." id="search">
    </form>


    <div class="pagination">
        <span class="step-links">
            <!-- Paginator top -->
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
            <!-- Pokemons list -->
            <span class="current">
                <div class="pokemons-list">
                    {% for pokemon in pokemons_data %}
                        <div class="pokemon-info">
                            <p>#00{{ pokemon.id }}</p>
                            <h2><a href="{{ pokemon.get_absolute_url }}">{{ pokemon.name | title }}</a></h2>
                            <a href="{{ pokemon.get_absolute_url }}"><img src="{% static pokemon.img %}" width=10% height=10%></a>
                        </div>
                    {% endfor %}
                </div>
            </span>
            <!-- Paginator bottom -->
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>











{% endblock content %}