{% extends 'base.html' %}
{% load static %}


{% block content %}

<h1>Hello on Pokedex app!</h1>

    <form action="{% url 'home' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                <div class="pokemon-info">
                    {% for pokemon in pokemons_data %}
                        <p>#00{{ pokemon.id }}</p>
                        <h2><a href="{% url 'pokemon_detail' pokemon.id %}">{{ pokemon.name | capfirst }}</a></h2>
                        <p>{{ pokemon.description }}</p>
                        <a href="{% url 'pokemon_detail' pokemon.id %}"><img src="{% static pokemon.img %}" width=10% height=10%></a>
                    {% endfor %}
                </div>
            </span>
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>











{% endblock content %}