{% extends 'base.html' %}
{% load static %}

{% block title %}Pokemon detail - Pokedex app{% endblock title %}
{% block content %}

    <div class="pokemon-detail">
        <h3>#00{{ pokemon.id }}</h3>
        <h2>{{ pokemon.name | title }}</h2>
        <div class="types">
            <img src="/static/img/types/{{ pokemon.category_1 }}.png">
            {% if pokemon.category_2 %}
                <img src="/static/img/types/{{ pokemon.category_2 }}.png">
            {% endif %}
        </div>
        <p>{{ pokemon.description }}</p>
        <img src="{% static pokemon.img %}" class="pokemon-img">
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Post your comment" class="button">
    </form>
    <br>
    <h3>Comments:</h3>
    {% if pokemon.comments.all %}
        {% for comment in pokemon.comments.all %}
        <div class="comment">
            <p class="author">Author: {{ comment.user }}</p>
            <p>Date published: {{ comment.pub_date|date:"d M Y" }}</p>
            <p>{{ comment }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>No comments yet</p>
    {% endif %}
    <div class="black-line"></div>
    <form>
        <input type="button" value="Go back!" onclick="history.back()" class="button">
    </form>











{% endblock content %}