{% extends 'base.html' %}
{% load static %}

{% block title %}Pokemon detail - Pokedex app{% endblock title %}
{% block content %}

    <div class="pokemon-detail">
        <p>#00{{ pokemon.id }}</p>
        <h2>{{ pokemon.name | title }}</h2>
        <p>{{ pokemon.category_1 | title }} {{ pokemon.category_2 | title }}</p>
        <p>{{ pokemon.description }}</p>
        <img src="{% static pokemon.img %}" width=10% height=10%>
    </div>
    <br>
    Comments:
    {% for comment in pokemon.comments.all %}
            <p>{{ comment.user }}</p>
            <p>{{ comment }}</p>
    {% endfor %}

    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>











{% endblock content %}